
.Authorization {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 500px;

    input {
        width: 160px;
        height: 20px;
        margin: 10px;
    }

    button {
        background-color: rgb(0, 160, 172);
        width: 160px;
        height: 20px;
        color: white;
        border: white;
    }

    .header-auth {
        text-align: center;
        font-size: 20px;
    }
}

.OpenFullScreenButton {
  position: fixed;
  top: 10px;
  left: 10px;

  button {
    
  }
}
